

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


html{
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.8;
}

[class$='__container'] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@font-face {
    font-family: "Maghody";
    src: url("../assets/Maghody.ttf");
  }